@charset "UTF-8";
@import url(../css/init.css);
@import url(../css/xinliwang_common.css);
.web section .picture_top {
  width: 1200px;
  margin: 0 auto;
  margin-top: 20px; }
.web section .xinlizixun {
  height: 210px;
  background: white;
  width: 1200px;
  margin: 0 auto;
  margin-top: 20px; }
  .web section .xinlizixun .top_left {
    padding-top: 14px;
    padding-left: 12px;
    display: inline-block; }
    .web section .xinlizixun .top_left .blue {
      height: 18px;
      width: 6px;
      background: #2071c2;
      display: inline-block; }
    .web section .xinlizixun .top_left span {
      vertical-align: top; }
  .web section .xinlizixun .top_right {
    display: inline-block;
    margin-right: 20px;
    margin-top: 14px; }
    .web section .xinlizixun .top_right div {
      display: inline-block; }
    .web section .xinlizixun .top_right div:hover {
      color: yellow; }
  .web section .xinlizixun .wangyouhui {
    display: inline-block;
    margin-top: 26px; }
    .web section .xinlizixun .wangyouhui .wangyouhui_left {
      display: inline-block; }
    .web section .xinlizixun .wangyouhui .right {
      display: inline-block;
      margin-left: 10px; }
      .web section .xinlizixun .wangyouhui .right div {
        font-size: 16px;
        font-weight: bold;
        color: #333333; }
      .web section .xinlizixun .wangyouhui .right p {
        font-size: 14px;
        margin-top: 12px;
        color: #888888; }
      .web section .xinlizixun .wangyouhui .right h1 {
        margin-top: 45px;
        height: 28px;
        width: 84px;
        background: #0064b9;
        font-size: 14px;
        line-height: 28px;
        text-align: center;
        color: white;
        border-radius: 5px 5px 0 0; }
      .web section .xinlizixun .wangyouhui .right h1:hover {
        color: red;
        background: green; }

.web section .left_bian .zoujinxinli {
  padding: 13px 17px 28px 12px;
  background: white; }
  .web section .left_bian .zoujinxinli .top {
    margin-top: 13px;
    margin-left: 12px; }
    .web section .left_bian .zoujinxinli .top div {
      display: inline-block; }
    .web section .left_bian .zoujinxinli .top .wenzi_left {
      font-size: 16px;
      font-weight: bold; }
    .web section .left_bian .zoujinxinli .top .wenzi_right a {
      font-size: 14px;
      color: #888888; }
.web section .left_bian .left_left {
  display: inline-block;
  width: 420px;
  margin-top: 28px; }
  .web section .left_bian .left_left .left_left_tu {
    display: inline-block; }
  .web section .left_bian .left_left .left_left_wenzi {
    display: inline-block;
    margin-left: 23px;
    width: 180px;
    vertical-align: top;
    margin-top: 13px; }
    .web section .left_bian .left_left .left_left_wenzi span {
      font-size: 14px;
      font-weight: bold; }
    .web section .left_bian .left_left .left_left_wenzi p {
      margin-top: 13px; }

.web section .xinlijiaoyu {
  margin-top: 20px;
  padding: 13px 17px 28px 12px;
  background: white; }
  .web section .xinlijiaoyu .xinlijiaoyu_top {
    margin-top: 13px;
    margin-left: 12px; }
    .web section .xinlijiaoyu .xinlijiaoyu_top .wenzi_left {
      font-size: 16px;
      font-weight: bold;
      display: inline-block; }
    .web section .xinlijiaoyu .xinlijiaoyu_top .wenzi_right a {
      font-size: 14px;
      color: #888888; }
.web section .xinlijiaoyu_middle {
  margin-left: 20px;
  margin-top: 28px; }
  .web section .xinlijiaoyu_middle .xinlijiaoyu_middle_left {
    display: inline-block; }
    .web section .xinlijiaoyu_middle .xinlijiaoyu_middle_left .xinlizixun_tu_top {
      width: 386px; }
      .web section .xinlijiaoyu_middle .xinlijiaoyu_middle_left .xinlizixun_tu_top img {
        width: 100%; }
    .web section .xinlijiaoyu_middle .xinlijiaoyu_middle_left .xinlizixun_zi {
      font-size: 14px;
      margin-top: 20px;
      margin-bottom: 30px; }
    .web section .xinlijiaoyu_middle .xinlijiaoyu_middle_left .xinlizixun_middle {
      margin-top: 29px; }
      .web section .xinlijiaoyu_middle .xinlijiaoyu_middle_left .xinlizixun_middle nav {
        display: inline-block;
        vertical-align: top; }
        .web section .xinlijiaoyu_middle .xinlijiaoyu_middle_left .xinlizixun_middle nav span {
          font-size: 14px; }
        .web section .xinlijiaoyu_middle .xinlijiaoyu_middle_left .xinlizixun_middle nav p {
          color: #c9c9c9;
          width: 277px;
          margin-top: 12px; }
    .web section .xinlijiaoyu_middle .xinlijiaoyu_middle_left .xinlizixun_bottom {
      margin-top: 29px; }
      .web section .xinlijiaoyu_middle .xinlijiaoyu_middle_left .xinlizixun_bottom nav {
        display: inline-block;
        vertical-align: top; }
        .web section .xinlijiaoyu_middle .xinlijiaoyu_middle_left .xinlizixun_bottom nav span {
          font-size: 14px; }
        .web section .xinlijiaoyu_middle .xinlijiaoyu_middle_left .xinlizixun_bottom nav p {
          color: #c9c9c9;
          width: 277px;
          margin-top: 12px; }

.web section .xinlingyizhan {
  margin-top: 20px;
  padding: 13px 17px 20px 12px;
  background: white;
  margin-bottom: 20px; }
  .web section .xinlingyizhan .xinlingyizhan_top {
    margin-top: 13px;
    margin-left: 12px; }
    .web section .xinlingyizhan .xinlingyizhan_top .wenzi_left {
      font-size: 16px;
      font-weight: bold;
      padding-left: 20px; }
    .web section .xinlingyizhan .xinlingyizhan_top .wenzi_right a {
      font-size: 14px;
      color: #888888; }
.web section .xinlingyizhan_middle {
  display: inline-block;
  margin-left: 30px; }
  .web section .xinlingyizhan_middle .xinlingyizhan_middle_middle {
    margin-top: 20px; }
    .web section .xinlingyizhan_middle .xinlingyizhan_middle_middle .xinlingyizhan_middle_left {
      display: inline-block; }
    .web section .xinlingyizhan_middle .xinlingyizhan_middle_middle .xinlingyizhan_middle_right {
      display: inline-block;
      vertical-align: top;
      width: 210px;
      margin-top: 20px; }
      .web section .xinlingyizhan_middle .xinlingyizhan_middle_middle .xinlingyizhan_middle_right p {
        font-size: 14px;
        font-weight: bold;
        margin-bottom: 10px; }
      .web section .xinlingyizhan_middle .xinlingyizhan_middle_middle .xinlingyizhan_middle_right span {
        font-size: 14px; }

.web section .left_bian .xinlingyizhan .xinlingyinyue .xinlingyinyue_top {
  font-size: 16px;
  font-weight: bold;
  padding: 33px 17px 28px 40px; }
.web section .left_bian .xinlingyizhan .xinlingyinyue .xinlingyinyue_bottom {
  padding-bottom: 20px; }
  .web section .left_bian .xinlingyizhan .xinlingyinyue .xinlingyinyue_bottom .xinlingyinyue_bottom_left {
    width: 420px;
    margin-top: 5px;
    display: inline-block; }
    .web section .left_bian .xinlingyizhan .xinlingyinyue .xinlingyinyue_bottom .xinlingyinyue_bottom_left p {
      display: inline-block;
      font-size: 12px;
      margin-left: 25px; }
    .web section .left_bian .xinlingyizhan .xinlingyinyue .xinlingyinyue_bottom .xinlingyinyue_bottom_left span {
      display: inline-block;
      font-size: 14px;
      margin-left: 22px;
      width: 320px; }
    .web section .left_bian .xinlingyizhan .xinlingyinyue .xinlingyinyue_bottom .xinlingyinyue_bottom_left div {
      display: inline-block; }
    .web section .left_bian .xinlingyizhan .xinlingyinyue .xinlingyinyue_bottom .xinlingyinyue_bottom_left p, .web section .left_bian .xinlingyizhan .xinlingyinyue .xinlingyinyue_bottom .xinlingyinyue_bottom_left span, .web section .left_bian .xinlingyizhan .xinlingyinyue .xinlingyinyue_bottom .xinlingyinyue_bottom_left div {
      color: #777777; }
    .web section .left_bian .xinlingyizhan .xinlingyinyue .xinlingyinyue_bottom .xinlingyinyue_bottom_left div:hover {
      color: #56c4e0; }
    .web section .left_bian .xinlingyizhan .xinlingyinyue .xinlingyinyue_bottom .xinlingyinyue_bottom_left p:hover {
      color: #56c4e0; }
    .web section .left_bian .xinlingyizhan .xinlingyinyue .xinlingyinyue_bottom .xinlingyinyue_bottom_left span a:hover {
      color: #56c4e0; }
    .web section .left_bian .xinlingyizhan .xinlingyinyue .xinlingyinyue_bottom .xinlingyinyue_bottom_left span a {
      color: #777777; }

.web section .left_bian {
  display: inline-block;
  width: 880px; }
.web section .right_box .right {
  display: inline-block; }
  .web section .right_box .right .xinlixunlian {
    width: 290px;
    background: white;
    margin-bottom: 25px;
    margin-top: 20px;
    margin-left: 30px;
    padding-bottom: 20px; }
    .web section .right_box .right .xinlixunlian .xinlixunlian_top {
      padding: 10px 0 0 20px; }
      .web section .right_box .right .xinlixunlian .xinlixunlian_top .wenzi {
        font-size: 16px;
        font-family: "微软雅黑";
        text-align: center;
        margin-top: 10px;
        display: inline-block;
        font-weight: bold;
        margin-left: 10px; }
    .web section .right_box .right .xinlixunlian .xinlixunlian_bottom {
      margin-left: 16px;
      margin-top: 21px;
      position: relative; }
      .web section .right_box .right .xinlixunlian .xinlixunlian_bottom span a {
        font-size: 14px;
        font-family: "微软雅黑";
        color: #929292;
        margin: 0px 0 0 10px;
        vertical-align: top;
        position: absolute;
        top: 10px; }
      .web section .right_box .right .xinlixunlian .xinlixunlian_bottom span a:hover {
        color: skyblue; }
      .web section .right_box .right .xinlixunlian .xinlixunlian_bottom p {
        display: inline-block; }
  .web section .right_box .right .wentijieda {
    height: 510px;
    width: 290px;
    background: white;
    margin-left: 30px;
    margin-top: 20px; }
    .web section .right_box .right .wentijieda .wentijieda_top {
      padding: 20px 0 0 20px; }
      .web section .right_box .right .wentijieda .wentijieda_top p {
        font-size: 16px;
        font-weight: bold;
        display: inline-block; }
  .web section .right_box .right .wentijieda_bottom p {
    font-size: 14px;
    text-align: center;
    padding-top: 20px; }
  .web section .right_box .right .wentijieda_bottom p::before {
    content: "";
    display: inline-block;
    width: 7px;
    height: 7px;
    background: #cccccc;
    margin-right: 5px; }
  .web section .right_box .right .wentijieda_bottom p:hover {
    color: #3c62a9; }

/*# sourceMappingURL=xinliwang.css.map */
