@charset "utf-8";
@import "scss_init.scss";
@import "common_baoweigongzuo.scss";
.web {
    section {
        width: 1100px;
        margin: 20px auto 40px;
        .section_top {
            font-size: 14px;
            margin-bottom: 26px;
            a {
                &:link {
                    color: #888888;
                }
                &:visited {
                    color: #888888;
                }
            }
        }
        .section_mid {
            margin-bottom: 20px;
            .mid_title {
                font-size: 16px;
                padding-bottom: 9px;
                border-bottom: 4px solid #207361;
                margin-bottom: 26px;
            }
            .mid_content {
                width: 1014px;
                margin: 0 auto;
                .img_box{
                    width: 231px;
                    height: 154px;
                    margin-bottom: 20px;
                    margin-right: 30px;
                    position: relative;
                    img{
                        width: 100%;
                    }
                    &::after{
                        content: "“魔鬼周”后，你已悄然收获...";
                        line-height: 32px;
                        display: inline-block;
                        width: 231px;
                        height: 32px;
                        color: #FFFFFF;
                        background: rgba(0,0,0,.5);
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        transform: scale(0);
                    }
                    &:hover::after{
                        transform: scale(1);
                    }
                }
                .img_box:nth-of-type(4n){
                    margin-right: 0;
                }
            }
        }
        .section_bottom {
            text-align: center;
            span {
                display: inline-block;
                width: 46px;
                height: 46px;
                color: #888888;
                font-size: 16px;
                line-height: 46px;
                cursor: pointer;
                &:hover {
                    background: #207361;
                    color: #FFFFFF;
                }
            }
            span:first-of-type {
                background: #207361;
                color: #FFFFFF;
            }
            a {
                margin-left: 20px;
                .rightarrow_icon {
                    font-size: 12px;
                }
                &:link {
                    .rightarrow_icon {
                        color: #999999;
                    }
                }
                &:visited {
                    .rightarrow_icon {
                        color: #999999;
                    }
                }
            }
        }
    }
}