@charset "utf-8";
@import "scss_init.scss";
.web {
    border-top: 4px solid #3b7366;
    header {
        .header_top {
            width: 1100px;
            margin: 0 auto;
            height: 32px;
            font-size: 12px;
            color: #666666;
            span {
                line-height: 32px;
            }
            .caozuo {
                line-height: 32px;
                a {
                    &:link {
                        color: #666666;
                    }
                    &:visited {
                        color: #666666;
                    }
                }
                a:first-of-type {
                    margin-right: 10px;
                }
                a:nth-of-type(2) {
                    padding: 0 10px;
                    border-left: 1px solid #666666;
                    border-right: 1px solid #666666;
                }
                a:nth-of-type(3) {
                    margin-right: 10px;
                }
            }
        }
        .baner{
            font-size: 0;
            width: 100%;
            border-top: 1px solid #edeef0;
            img{
                width: 100%;
            }
        }
    }
    nav{
        width: 1100px;
        margin: 0 auto;
        height: 46px;
        border-top: 1px solid #eeeeee;
        border-bottom: 1px solid #EEEEEE;
        background: linear-gradient(#fefcfc,#f9f7f6);
        a{
            font-size: 16px;
            display: inline-block;
            width: 136px;
            line-height: 46px;
            text-align: center;
            &:link{
                color: #444444;
            }
            &:visited{
                color: #444444;
            }
            &:hover{
                color: #207361;
                line-height: 40px;
                border-top: 4px solid #207361;
                border-bottom: 4px solid #FFFFFF;
                transform: translateY(-1px);
                background: linear-gradient(#eeeae8,#ffffff);
            }
        }
    }
}