@charset "utf-8";
@import "../css/init.css";
@import "../css/xinliwang_common.css";
.web{
    section{
        width: 1200px;
        margin: 0 auto;
        .top{
            height: 50px;
            font-size: 14px;
            font-family: "微软雅黑";
            color: #969797;
            line-height: 50px;
            width: 1200px;
            margin: 0 auto;
            
        }
        
        .left{
            .left_top{
                padding: 15px 0 0 15px;
            }
            .wangyouhui_box{
                margin-top:20px;
                margin: 0 auto;
                padding-left: 50px;
                margin-top: 20px;
                padding-bottom: 20px;
                .wangyouhui_box_tu{
                display: inline-block;
                }
            }
            .wangyouhui_box_center{
                display: inline-block;
                vertical-align: top;
                .wangyouhui_box_center_top{
                    margin-top:10px;
                    p{
                        font-size: 18px;
                        font-weight: bold;
                    }
                    div{
                        font-size: 14px;
                        color: #bfbfbf;
                        padding-top: 5px;
                    }
                }
                .wangyouhui_box_center_middle{
                    margin-top: 2px;
                    span{
                        font-size: 14px;
                        color: #bfbfbf;
                    }
                    div{
                        display: inline-block;
                        input{
                            width: 84px;
                            height: 28px;
                            font-size: 14px;
                            margin-left: 20px;
                        }
                        input:hover{
                            background: #0064b9;
                            color: white;
                        }
                    }
                }
                .wangyouhui_box_center_bottom{
                    margin-top: 20px;
                    div{
                        font-size: 14px; 
                        color: #a7a7a7;
                        display: inline-block;
                    }
                    span{
                        color: #0074c6;
                        font-size: 14px;
                    }
                }
            }
        }
        
        
        
        
        
        
        
        
        
        
        
        
        
        .right{
            height: 100px;
            width: 290px;
            background:white;
            margin-bottom:25px;
            .tiwen{
                background: #2dc3e8;
                color: white;
                font-size: 14px;
                height: 36px;
                width: 152px;
                text-align: center;
                line-height: 36px;
                margin: 0 auto;
                margin-top: 12px;
            }
            .tiwen:hover{
                background: red;
                color: green;
            }
            .wenzi{
                font-size: 12px;
                font-family: "微软雅黑";
                color: #989898;
                text-align: center;
                margin-top: 10px;
            }
        }
        .right_bottom{
            background: white;
            width: 290px;
            padding-bottom: 20px;
            .xinlixunlian{
                text-align: center;
                margin-top: 12px;
                .bottom_blue{
                height: 18px;
                width: 6px;
                background: #2071c2;
                display: inline-block;
                }
                .wenzi{
                    font-size: 16px;
                    font-weight: bold;
                    display: inline-block;
                }
            }
            .tupian{
                    margin-left: 16px;
                    margin-top: 21px;
                    position: relative;
                    span{
                        font-size: 14px;
                        font-family: "微软雅黑";
                        color: #929292;
                        margin: 0px 0 0 10px;
                        vertical-align: top;
                        position: absolute;
                        top: 10px;
                       
                    }
                    p{
                        display: inline-block;
                    }
                }
        }
        
        
        .left{
           width: 880px;
           background: white;
           display: inline-block;
        }
        
       
    }
}


////////////////////////////////////////////////////////////////////
.web{
    .xuanye{
        text-align: center;
        margin-top: 20px;
        margin-bottom: 33px;
        div{
            display: inline-block;
            width: 46px;
            height: 46px;
            line-height: 46px;
        }
        p{
            display:inline-block;
            width: 46px;
            height: 46px;
            line-height: 46px;
        }
        div:hover{
            color: white;
            background: #0074c6;
        }
    }
}
///////////////////////////////////////////

