@charset "utf-8";
.header_top{
    width: 100%;
    height: 37px;
    background: #fcfcfc;
    text-align: center;
    .header_taitou{
        display: inline-block;
        padding-right: 773px;
        line-height: 35px;
    }
    .header_shouye{
        display: inline-block;
        vertical-align: middle;
    }
    .header_soucang{
        display: inline-block;
        vertical-align: middle;
    }
    .header_zgsy{
        display: inline-block;
        vertical-align: middle;
    }

    .header_shuxian{
        display: inline-block;
        width: 1px;
        height: 14px;
        background: #888888;
        vertical-align: middle;
        margin-left:8px ;
        margin-right: 8px;
    }
    a{
        color: #888888;
        font-size: 14px;
    }
    span{
        color: #888888;
        font-size: 14px;
    }
    a:hover{
        color: #d60000;
    }
}
.header_datu{
    font-size: 0;
    
}
.header_datu img{
   width: 100%; 
}
.header_nav{
        width: 100%;
        height: 57px;
        background: #12619a;
        text-align: center;

        button{
            width: 118px;
            height: 48px;
            background: #12619a;
            border: none;
            color: white;
            font-size: 20px;
            font-weight: bold;
            cursor: pointer;   
        }
        .daohang{
            display: inline-block;
            line-height: 57px;
            width: 118px;
            height: 48px;
            position: relative;
        }
        .daohang button:hover{
            width: 118px;
            height: 48px;
            background: #ccebfd;
            color: #12619A;
            padding-bottom: 43px;
            padding-top: 10px;
        }
}
.daohang:nth-child(3):hover .fudaohang{
    transform: scale(1);
}
.fudaohang{
    margin: 0 auto;
    width: 903px;
    height: 36px;
    background: #ccebfd;
    text-align: center; 
    position: absolute;
    top: 57px;
    left: -84px;
    transform: scale(0);
}
.fudaohang{
        display: inline-block;
        line-height: 36px;        
}
.fudaohang a{
        text-align: center;
        color: #12619a;
        font-size: 16px;
        font-weight: bold;
        padding: 0 30px 0 0;
}
.fudaohang a:hover{
    color: #888888;
}
//----------------------内容----------------
.neirongxia_time{
    border: 1px solid #DDDDDD;
    border-radius: 3px;
    width: 68px;
    height: 68px;
    position: absolute;
    top: 24px;
    right: -183px;
    color: #888888;
    text-align: center;
    line-height: 50px;
}
.shipinye .neirongxia_zw_span .time_span{
      font-size: 12px;
      width: 68px;
      height: 9px;
      color: #888888;
      display: inline-block;
      position: absolute;
      top: 25px;
      right: 0;     
  }

//--------------------尾部--------------------
footer{
         background: #f6f6f6;
        .weibu{
            height: 130px;
            .weibu_top{
                font-size: 14px;
                font-family: "微软雅黑";
                color: #b8b8b8;
                text-align: center;
                padding-top: 35px;
            }
            .weibu_middle{
                font-size: 14px;
                font-family: "微软雅黑";
                color: #b8b8b8;
                text-align: center;
                margin-top: 12px;
            }
            .weibu_bottom{
                text-align: center;
                margin-top: 17px;
                div{
                    display: inline-block;
                    p{
                        display: inline-block;
                        font-size: 14px;
                        font-weight: bold;
                        font-family: "微软雅黑";
                        color: #888888;
                    }
                    nav{
                        display: inline-block;
                        color: #565656;
                        font-weight: bold;
                    }
                }
            }
        }
    }